<!DOCTYPE html>
html(lang="ja" style="height:100%")
head
  meta(charset="UTF-8")
  style(src="stylesheets/index.css")
  title SoundForest
body(style="margin:0px; height:100%; width: 100%; position:relative; ")

  div(style="background-color: #000000; height: 100px; width: 100%; left: 0px; top: 0px; margin-bottom:20px;" )

  div(class="three" style="margin:0px; position:relative; height: 75%; width: 75%; left: 14.5%; top: 0px;")
    div(id="layer1" style="height: 100%; width: 100%; position: absolute; z-index: 0;")

    div(id="layer2" style="height: 100%; width: 100%; position: absolute; z-index: 1;")

    div(id="layer3" style="height: 100%; width: 100%;position: absolute; z-index: 2;")

    div(id="layer4" class= "MusicInformation three" style="overflow: scroll; height: 100%; width: 30%;  position: absolute; z-index: 3;")
      div(class="information" style="position: relative; left: 10px; width:90%")
        h1(id="ArtistName")
        h1(id="Title")
        h5(id="smallDec")
        p(id="bigDec")
  div(class="three" style="margin:1px; position:relative; height: 30px; left: 50% top:50%")
    button(id="nextGuide" type="button" name="aaa" value="aaa" style = "position:relative; height: 30px; margin:10px;" )
      img(src="images/ageha.png" style = "height: 20px; width: 20px;")
      p(style = "height: 5px;") Next guide.








  script(type="text/javascript", src="javascripts/main.js")

  //
    background-color: #99cc00;
    width: 140px;
    background-image: url('images/background.png');
    left: 10%; top: 25%;



